<% locations = [
  {
    label: "Centro de distribuição de serras<br> circulares e serviço de afiação",
    city: "Mogi Guaçu-SP",
    address: "Rua Eli Paulo Colombo, 1470 - Jardim Sakaida",
    complement: "Mogi Guaçu-SP | CEP: 13.849-702",
    maps_url: "https://maps.app.goo.gl/3gC1ynHJ4doDNGnN9",
    embed_src: "https://maps.google.com/maps?q=Rua+Eli+Paulo+Colombo,+1470,+Jardim+Sakaida,+Mogi+Guaçu,+SP,+Brasil&output=embed"
  },
  {
    label: "Centro de distribuição<br> de lâminas de serra fita",
    city: "Poá-SP",
    address: "Avenida Getúlio Vargas, 692 - Calmon Viana",
    complement: "Poá-SP | CEP: 08557-010",
    maps_url: "https://maps.app.goo.gl/DbPekvjr4ZcuSFGv5",
    embed_src: "https://maps.google.com/maps?q=Avenida+Getúlio+Vargas,+692,+Calmon+Viana,+Poá,+SP,+Brasil&output=embed"
  }
] %>

<section class="contact-locations" aria-labelledby="contact-locations-heading">
  <div class="container">
    <h2 id="contact-locations-heading" class="visually-hidden">Nossos endereços</h2>

    <div class="contact-locations__grid">
      <% locations.each do |loc| %>
        <article
          class="contact-locations__card"
          aria-label="<%= loc[:city] %>"
          itemscope
          itemtype="https://schema.org/LocalBusiness"
        >
          <div class="d-flex" style="height: 10%;">
            <p class="contact-locations__label"><%= loc[:label].upcase.html_safe %></p>
          </div>

          <div class="d-flex flex-column justify-content-end">
            <p class="contact-locations__city" style="font-weight: bold;">
              <%= image_tag "localização@2x.png", alt: "Localização", style: "width: 42px; height: 46px;" %>
              <%= loc[:city] %>
            </p>

            <address class="contact-locations__address" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
              <span itemprop="streetAddress"><%= loc[:address] %></span><br>
              <span><%= loc[:complement] %></span>
            </address>

            <a
              href="<%= loc[:maps_url] %>"
              target="_blank"
              rel="noopener noreferrer"
              class="contact-locations__map-link"
              aria-label="Abrir <%= loc[:city] %> no Google Maps"
            >
              <div class="contact-locations__map-wrapper">
                <iframe
                  class="contact-locations__map"
                  src="<%= loc[:embed_src] %>"
                  loading="lazy"
                  allowfullscreen=""
                  referrerpolicy="no-referrer-when-downgrade"
                  title="Mapa do endereço em <%= loc[:city] %>"
                  aria-label="Mapa interativo do endereço em <%= loc[:city] %>"
                ></iframe>
                <div class="contact-locations__map-overlay" aria-hidden="true">
                  <span class="contact-locations__map-cta">
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    Ver no Google Maps
                  </span>
                </div>
              </div>
            </a>
          </div>
        </article>
      <% end %>
    </div>
  </div>
</section>
